## Buy Now, Pay Later Project
### MAST30034: Applied Data Science 
#### Notebook 2: Preprocessing Data 2: Data Aggregation

In [2]:
# create modeling spark session
from pyspark.sql import SparkSession
import pandas as pd

spark = (
    SparkSession.builder.appName('Project 2 test')
    .config('spark.sql.repl.eagerEval.enabled', True) 
    .config('spark.sql.parquet.cacheMetadata', 'true')
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.executor.memory", "8g")
    .config("spark.driver.memory", "8g")
    .getOrCreate()
)

In [3]:
full = spark.read.parquet('../data/curated/clean_full_dataset/')
full

+--------+-------+------------+------------------+--------------+--------------------+--------------------+-------------+---------+-----------+-----+-----------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+------------------+
|postcode|user_id|merchant_abn|      dollar_value|order_datetime|                name|       business_area|revenue_level|take_rate|consumer_id|state|     gender|Median_age_persons|Median_mortgage_repay_monthly|Median_tot_prsnl_inc_weekly|Median_rent_weekly|Median_tot_fam_inc_weekly|Average_num_psns_per_bedroom|Median_tot_hhd_inc_weekly|Average_household_size|business_area_type|
+--------+-------+------------+------------------+--------------+--------------------+--------------------+-------------+---------+-----------+-----+-----------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+------------------+
|    3332|     14| 68004106739|35.066583865041444|    2021-08-08|        Nec Ante Ltd|cable, satellite,...|            a|     5.61|    1343547|  VIC|       Male|                38|                         1733|                        797|               350|                     2096|                         0.8|                     1955|                   2.9|      Retail_trade|
|    3432|   4943| 67609108741| 87.09715299772967|    2022-03-05|Metus Sit Amet In...|cable, satellite,...|            e|     0.38|     533495|  VIC|       Male|                51|                         2000|                        791|               550|                     2374|                         0.8|                     1792|                   2.7|      Retail_trade|
|    3332|     14| 70052129860|10.624562993647425|    2021-07-25|Donec Tempus Lore...|cable, satellite,...|            b|     3.37|    1343547|  VIC|       Male|                38|                         1733|                        797|               350|                     2096|                         0.8|                     1955|                   2.9|      Retail_trade|
|    3432|   4943| 19237425345| 36.91374841278192|    2022-03-08|A Scelerisque Ass...|cable, satellite,...|            c|     2.04|     533495|  VIC|       Male|                51|                         2000|                        791|               550|                     2374|                         0.8|                     1792|                   2.7|      Retail_trade|
|    3332|     14| 79645157255|21.838580731119894|    2021-04-16|Consectetuer Maur...|cable, satellite,...|            a|     6.46|    1343547|  VIC|       Male|                38|                         1733|                        797|               350|                     2096|                         0.8|                     1955|                   2.9|      Retail_trade|
|    3432|   4943| 67979471799| 9.354001353615072|    2022-03-16| Laoreet Ipsum Corp.|cable, satellite,...|            d|     1.04|     533495|  VIC|       Male|                51|                         2000|                        791|               550|                     2374|                         0.8|                     1792|                   2.7|      Retail_trade|
|    3332|     14| 21439773999| 57.50723650600155|    2021-06-01|Mauris Non Institute|cable, satellite,...|            a|     6.10|    1343547|  VIC|       Male|                38|                         1733|                        797|               350|                     2096|                         0.8|                     1955|                   2.9|      Retail_trade|
|    3432|   4943| 68501926042| 72.64904714060505|    2022-03-23|         Dolor Corp.|cable, satellite,...|            a|     5.78|     533495|  VIC|       Male|                51|                         2000|                        791|               550|                     2374|                         0.8|                     1792|                   2.7|      Retail_trade|
|    3332|     14| 66370248931|24.001048123394057|    2021-05-04|        Morbi Non PC|cable, satellite,...|            b|     3.15|    1343547|  VIC|       Male|                38|                         1733|                        797|               350|                     2096|                         0.8|                     1955|                   2.9|      Retail_trade|
|    2082|   4949| 44454840859|34.990386491563186|    2021-08-27|  Erat Eget Ipsum PC|cable, satellite,...|            a|     5.62|     801928|  NSW|Undisclosed|                42|                         2500|                        977|               580|                     2804|                         0.8|                     2449|                   2.9|      Retail_trade|
|    3332|     14| 40590483301| 14.93929154059108|    2021-04-01|Donec Tempus Corp...|cable, satellite,...|            c|     3.10|    1343547|  VIC|       Male|                38|                         1733|                        797|               350|                     2096|                         0.8|                     1955|                   2.9|      Retail_trade|
|    2082|   4949| 71350572766|  67.5169153121267|    2021-08-26|Dictum Placerat A...|cable, satellite,...|            c|     1.57|     801928|  NSW|Undisclosed|                42|                         2500|                        977|               580|                     2804|                         0.8|                     2449|                   2.9|      Retail_trade|
|    3332|     14| 85071946566| 129.3921791743538|    2021-03-27|Est Mauris Associ...|cable, satellite,...|            b|     3.19|    1343547|  VIC|       Male|                38|                         1733|                        797|               350|                     2096|                         0.8|                     1955|                   2.9|      Retail_trade|
|    2082|   4949| 71350572766| 55.77843473425574|    2021-06-11|Dictum Placerat A...|cable, satellite,...|            c|     1.57|     801928|  NSW|Undisclosed|                42|                         2500|                        977|               580|                     2804|                         0.8|                     2449|                   2.9|      Retail_trade|
|    3332|     14| 69703285964| 28.33157420502937|    2021-12-13|Suspendisse Incor...|cable, satellite,...|            a|     5.77|    1343547|  VIC|       Male|                38|                         1733|                        797|               350|                     2096|                         0.8|                     1955|                   2.9|      Retail_trade|
|    2082|   4949| 17488304283|12.529185818529875|    2021-06-11|Posuere Cubilia C...|cable, satellite,...|            a|     6.18|     801928|  NSW|Undisclosed|                42|                         2500|                        977|               580|                     2804|                         0.8|                     2449|                   2.9|      Retail_trade|
|    3332|     14| 98545158925|27.119818754515343|    2021-12-28|Dictum Eleifend I...|cable, satellite,...|            c|     2.13|    1343547|  VIC|       Male|                38|                         1733|                        797|               350|                     2096|                         0.8|                     1955|                   2.9|      Retail_trade|
|    2082|   4949| 67609108741|107.22795647375638|    2021-05-14|Metus Sit Amet In...|cable, satellite,...|            e|     0.38|     801928|  NSW|Undisclosed|                42|                         2500|                        977|               580|                     2804|                         0.8|                     2449|                   2.9|      Retail_trade|
|    3332|     14| 50885695263|16.546336274375896|    2021-09-16|   Euismod Institute|cable, satellite,...|            c|     2.84|    1343547|  VIC|       Male|                38|                         1733|                        797|               350|                     2096|                         0.8|                     1955|                   2.9|      Retail_trade|
|    2082|   4949| 21793603759| 70.65996399415438|    2021-06-10|In Tincidunt Cong...|cable, satellite,...|            c|     1.83|     801928|  NSW|Undisclosed|                42|                         2500|                        977|               580|                     2804|                         0.8|                     2449|                   2.9|      Retail_trade|
+--------+-------+------------+------------------+--------------+--------------------+--------------------+-------------+---------+-----------+-----+-----------+------------------+-----------------------------+---------------------------+------------------+-------------------------+----------------------------+-------------------------+----------------------+------------------+
only showing top 20 rows

### Calculating the Gender Percentage for Consumers

Noting that the "male_percentage"/"female_percentage"/"undisclosed_percentage" here refer to the amount of transactions made by male/female/undisclosed consumers divided by the total amount of transactions. Multiple transaction records made by the same consumers are included in this calculation algorithm.

In [4]:
# count the number of comsumers by gender and merchant
gender_count_sdf = full.groupBy(["merchant_abn", "gender"]).count().sort("merchant_abn")
gender_count_sdf

+------------+-----------+-----+
|merchant_abn|     gender|count|
+------------+-----------+-----+
| 10023283211|Undisclosed|  272|
| 10023283211|       Male| 1189|
| 10023283211|     Female| 1215|
| 10142254217|Undisclosed|  253|
| 10142254217|       Male| 1183|
| 10142254217|     Female| 1070|
| 10165489824|     Female|    2|
| 10165489824|Undisclosed|    1|
| 10165489824|       Male|    1|
| 10187291046|Undisclosed|   33|
| 10187291046|     Female|  128|
| 10187291046|       Male|  129|
| 10192359162|Undisclosed|   27|
| 10192359162|     Female|  146|
| 10192359162|       Male|  147|
| 10206519221|       Male| 3648|
| 10206519221|     Female| 3605|
| 10206519221|Undisclosed|  790|
| 10255988167|       Male|  306|
| 10255988167|Undisclosed|   65|
+------------+-----------+-----+
only showing top 20 rows

In [5]:
# count the total number of consumers
total_count = gender_count_sdf.groupBy('merchant_abn').sum('count').sort("merchant_abn")
total_count

+------------+----------+
|merchant_abn|sum(count)|
+------------+----------+
| 10023283211|      2676|
| 10142254217|      2506|
| 10165489824|         4|
| 10187291046|       290|
| 10192359162|       320|
| 10206519221|      8043|
| 10255988167|       682|
| 10264435225|      4147|
| 10279061213|       456|
| 10323485998|      8559|
| 10342410215|       708|
| 10346855916|         8|
| 10364012396|        34|
| 10385011947|        21|
| 10385163239|        63|
| 10385250025|       555|
| 10404542215|         1|
| 10430380319|       135|
| 10441711491|         3|
| 10462560289|      1350|
+------------+----------+
only showing top 20 rows

In [6]:
gender_count_sdf = gender_count_sdf.join(total_count, on='merchant_abn').sort("merchant_abn")
gender_count_sdf = gender_count_sdf.withColumnRenamed("sum(count)","total_transactions_count")
gender_count_sdf

+------------+-----------+-----+------------------------+
|merchant_abn|     gender|count|total_transactions_count|
+------------+-----------+-----+------------------------+
| 10023283211|Undisclosed|  272|                    2676|
| 10023283211|       Male| 1189|                    2676|
| 10023283211|     Female| 1215|                    2676|
| 10142254217|Undisclosed|  253|                    2506|
| 10142254217|       Male| 1183|                    2506|
| 10142254217|     Female| 1070|                    2506|
| 10165489824|     Female|    2|                       4|
| 10165489824|Undisclosed|    1|                       4|
| 10165489824|       Male|    1|                       4|
| 10187291046|Undisclosed|   33|                     290|
| 10187291046|     Female|  128|                     290|
| 10187291046|       Male|  129|                     290|
| 10192359162|Undisclosed|   27|                     320|
| 10192359162|     Female|  146|                     320|
| 10192359162|       Male|  147|                     320|
| 10206519221|       Male| 3648|                    8043|
| 10206519221|     Female| 3605|                    8043|
| 10206519221|Undisclosed|  790|                    8043|
| 10255988167|       Male|  306|                     682|
| 10255988167|Undisclosed|   65|                     682|
+------------+-----------+-----+------------------------+
only showing top 20 rows

In [7]:
# calculate the consumer gender percentage for each gender and for each merchants, save the percentage as "gender_percentage"
from pyspark.sql import functions as F
gender_count_sdf = gender_count_sdf.withColumn("gender_percentage", F.col("count")/F.col("total_transactions_count"))
gender_count_sdf

+------------+-----------+-----+------------------------+-------------------+
|merchant_abn|     gender|count|total_transactions_count|  gender_percentage|
+------------+-----------+-----+------------------------+-------------------+
| 10023283211|Undisclosed|  272|                    2676|0.10164424514200299|
| 10023283211|       Male| 1189|                    2676|0.44431988041853515|
| 10023283211|     Female| 1215|                    2676|0.45403587443946186|
| 10142254217|Undisclosed|  253|                    2506|0.10095770151636073|
| 10142254217|       Male| 1183|                    2506| 0.4720670391061452|
| 10142254217|     Female| 1070|                    2506|0.42697525937749403|
| 10165489824|     Female|    2|                       4|                0.5|
| 10165489824|Undisclosed|    1|                       4|               0.25|
| 10165489824|       Male|    1|                       4|               0.25|
| 10187291046|Undisclosed|   33|                     290|0.11379310344827587|
| 10187291046|     Female|  128|                     290| 0.4413793103448276|
| 10187291046|       Male|  129|                     290|0.44482758620689655|
| 10192359162|Undisclosed|   27|                     320|           0.084375|
| 10192359162|     Female|  146|                     320|            0.45625|
| 10192359162|       Male|  147|                     320|           0.459375|
| 10206519221|       Male| 3648|                    8043|  0.453562103692652|
| 10206519221|     Female| 3605|                    8043| 0.4482158398607485|
| 10206519221|Undisclosed|  790|                    8043|0.09822205644659952|
| 10255988167|       Male|  306|                     682|0.44868035190615835|
| 10255988167|Undisclosed|   65|                     682|0.09530791788856305|
+------------+-----------+-----+------------------------+-------------------+
only showing top 20 rows

In [8]:
# separate gender percentage by male, female and undisclosed
male_percentage = gender_count_sdf.filter("gender == 'Male'").select(F.col("merchant_abn"),F.col("gender_percentage")).withColumnRenamed("gender_percentage","male_consumer_percentage")
female_percentage = gender_count_sdf.filter("gender == 'Female'").select(F.col("merchant_abn"),F.col("gender_percentage")).withColumnRenamed("gender_percentage","female_consumer_percentage")
undisclosed_percentage = gender_count_sdf.filter("gender == 'Undisclosed'").select(F.col("merchant_abn"),F.col("gender_percentage")).withColumnRenamed("gender_percentage","undisclosed_consumer_percentage")

In [9]:
# observe one of the outcome dataframe
male_percentage

+------------+------------------------+
|merchant_abn|male_consumer_percentage|
+------------+------------------------+
| 10023283211|     0.44431988041853515|
| 10142254217|      0.4720670391061452|
| 10165489824|                    0.25|
| 10187291046|     0.44482758620689655|
| 10192359162|                0.459375|
| 10206519221|       0.453562103692652|
| 10255988167|     0.44868035190615835|
| 10264435225|     0.44586448034723897|
| 10279061213|      0.4342105263157895|
| 10323485998|     0.46325505316041593|
| 10342410215|      0.4477401129943503|
| 10346855916|                   0.625|
| 10364012396|      0.6176470588235294|
| 10385011947|      0.5714285714285714|
| 10385163239|      0.4603174603174603|
| 10385250025|     0.45225225225225224|
| 10430380319|      0.4740740740740741|
| 10441711491|      0.3333333333333333|
| 10462560289|     0.45481481481481484|
| 10463252268|      0.4098360655737705|
+------------+------------------------+
only showing top 20 rows

In [10]:
# combine the 3 gender percentages together into 1 dataframe
agg_df = male_percentage.join(female_percentage, on="merchant_abn")
agg_df = agg_df.join(undisclosed_percentage, on="merchant_abn")
# add the total transaction count into aggregated dataframe and rename the column name
agg_df = agg_df.join(total_count, on="merchant_abn")
agg_df = agg_df.withColumnRenamed("sum(count)","total_transactions_count")
agg_df

+------------+------------------------+--------------------------+-------------------------------+------------------------+
|merchant_abn|male_consumer_percentage|female_consumer_percentage|undisclosed_consumer_percentage|total_transactions_count|
+------------+------------------------+--------------------------+-------------------------------+------------------------+
| 10023283211|     0.44431988041853515|       0.45403587443946186|            0.10164424514200299|                    2676|
| 10142254217|      0.4720670391061452|       0.42697525937749403|            0.10095770151636073|                    2506|
| 10165489824|                    0.25|                       0.5|                           0.25|                       4|
| 10187291046|     0.44482758620689655|        0.4413793103448276|            0.11379310344827587|                     290|
| 10192359162|                0.459375|                   0.45625|                       0.084375|                     320|
| 10206519221|       0.453562103692652|        0.4482158398607485|            0.09822205644659952|                    8043|
| 10255988167|     0.44868035190615835|        0.4560117302052786|            0.09530791788856305|                     682|
| 10264435225|     0.44586448034723897|       0.45285748734024595|            0.10127803231251507|                    4147|
| 10279061213|      0.4342105263157895|       0.47368421052631576|            0.09210526315789473|                     456|
| 10323485998|     0.46325505316041593|        0.4303072788877205|            0.10643766795186353|                    8559|
| 10342410215|      0.4477401129943503|        0.4519774011299435|            0.10028248587570622|                     708|
| 10364012396|      0.6176470588235294|       0.29411764705882354|            0.08823529411764706|                      34|
| 10385011947|      0.5714285714285714|       0.38095238095238093|           0.047619047619047616|                      21|
| 10385163239|      0.4603174603174603|        0.4444444444444444|            0.09523809523809523|                      63|
| 10385250025|     0.45225225225225224|       0.45045045045045046|             0.0972972972972973|                     555|
| 10430380319|      0.4740740740740741|        0.4074074074074074|            0.11851851851851852|                     135|
| 10462560289|     0.45481481481481484|       0.45481481481481484|            0.09037037037037036|                    1350|
| 10463252268|      0.4098360655737705|        0.3770491803278688|            0.21311475409836064|                      61|
| 10487253336|     0.44203944203944207|       0.43722943722943725|            0.12073112073112073|                    2079|
| 10530696903|     0.44765342960288806|        0.4566787003610108|            0.09566787003610108|                     554|
+------------+------------------------+--------------------------+-------------------------------+------------------------+
only showing top 20 rows

In [11]:
full.groupBy("merchant_abn") \
    .agg(F.mean("Median_age_persons").alias("ave_age"), \
         F.mean("Median_tot_prsnl_inc_weekly").alias("ave_income"), \
         F.mean("Median_rent_weekly").alias("ave_rent") \
     ).limit(10)

+------------+------------------+-----------------+------------------+
|merchant_abn|           ave_age|       ave_income|          ave_rent|
+------------+------------------+-----------------+------------------+
| 19839532017| 43.40066225165563|942.0645695364238|307.20364238410593|
| 38700038932|43.489169367218146|824.3348115299335| 301.4045710387174|
| 57798993346| 45.11764705882353|941.1764705882352|335.11764705882354|
| 45339304653| 43.78842105263158| 797.061052631579|294.70526315789476|
| 51561881468| 43.61951219512195|784.0390243902439| 294.2829268292683|
| 66610548417|              44.0|768.1141304347826| 307.3097826086956|
| 98545158925|43.553484036355165|812.2920065252855|302.18433931484503|
| 46331355995| 43.15366289458011|857.8147706968433| 303.5092316855271|
| 90568944804|43.461451631109604| 815.516198216503|301.28027994130264|
| 43719937438| 43.21381847914963|797.8556827473426| 300.1749795584628|
+------------+------------------+-----------------+------------------+